body {
  background-color: #ffffff; 
  font-family: 'Arial', sans-serif; 
  margin: 0; 
  height: 100vh; 
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
  width: 100%; 
  margin: 0; 
}

.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff; 
  padding: 20px;
}

.welcome-text {
  text-align: center;
}

.welcome-text h1 {
  font-size: 4em; 
  margin: 0; 
  color: #333;
}

.welcome-text h2 {
  font-size: 2em; 
  margin: 10px 0;
  color: #666; 
}

.section {
  max-width: 66%; 
  width: 100%; 
  margin: 60px auto; 
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
}

.section h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333; 
}

.section p {
  line-height: 1.6; 
  margin: 10px 0; 
  color: #444; 
}

@media (max-width: 768px) {
  .welcome-text h1 {
      font-size: 3em; 
  }

  .welcome-text h2 {
      font-size: 1.5em; 
  }

  .section {
      padding: 15px;
      width: 90%;
      max-width: none;
  }
}

.fade {
  transition: opacity 0.5s ease; 
}

.hidden {
  opacity: 0; 
}