.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0; 
    margin: 0; 
    width: 100%; 
    position: relative; 
    z-index: 1000;
}

.header:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
font-size: 2.5em; 
margin: 0;
}

.name {
font-size: 1.6em; 
margin: 0;
padding-left: 10px;
}

.navigation {
margin-left: auto; 
}

.navigation ul {
list-style-type: none;
padding: 0;
display: flex;
}

.navigation li {
margin: 0 20px; 
}

.navigation a {
text-decoration: none;
color: #000000; 

}

.navigation a:hover {
color: #3722b0; }